@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #cacaca;
    padding: 10px;
    margin: 50px;
    display: flex;
    flex-direction: row; /*Este e os próximos dois elementos são so mais importantes dessa funcionalidade flex*/
    justify-content: center;
    align-items: center;
}

.item {
    background-color: #ff0037;
    color: white;
    font-size: 35px;
    padding: 20px;
    margin: 10px;
}

.items-1 {
    order: 3;
}

.items-2 {
    order: 4;
}

.items-3 {
    order: 0;
}

.items-4 {
    order: 1;
}

.items-5 {
    order: 2;
}